@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-bg: #F2F2F8;
    --accent1: #DFF8FF;
    --accent2: #F0E8FE;
    --primary-color: #3F53F7;
    --secondary-color: #ff6c59;
    --text-color: #1f2937;
    --border-color: #d1d5db;
    --bg-white: #fefeef;
    --bg-white2: #fffff4;
  }

  .dark {
    --primary-bg: #1E1E2A;
    --accent1: #0A1A20;
    --accent2: #1A0F2A;
    --primary-color: #6B7CFF;
    --secondary-color: #FF5964;
    --text-color: #E2E8F0;
    --border-color: #4B5563;
    --bg-white: #2A2A20;
  }

  @font-face {
    font-family: 'Gcentra';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/gcentra.otf);
  }

  @font-face {
    font-family: 'Mont';
    font-style: normal;
    font-display: swap;
    src: url(/fonts/mont.otf);
  }
}